<!DOCTYPE html>
<HTML>        
  <head>                                                                        
    <meta charset="UTF-8">                                  
    <meta name="Plusport" content="width=device-width, initial-scale=1">                                                    
    <title>Mon Portfolio                         
    </title>                                                                                                                          
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">              
    <link rel="stylesheet" type="text/css" href="assets/css/css.css">    
    <link rel="stylesheet" type="text/css" href="assets/css/num.css">    
    <link rel="stylesheet" href="assets/css/theme.css">                                                                       
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">               
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">    
    <link rel="stylesheet" type="text/css" href="assets/css/demo.css">  <script src="assets/js/angular.min.js"></script>                                          
  </head>      
  <body>              
    <div class='outerpic-wrapper'>                    
      <div class='content-wrapper'>                          
        <div class='header-wrapper'>                                
          <div class='header section' id='header'>                                      
            <div class='widget Header'>                                            
              <div id='header-inner'>                                                  
                <div class='titlewrapper'>                                                        
                  <h1 class='title'>PORTFOLIO </h1>                                                  
                </div>                                                  
                <div class='descriptionwrapper'>                                                        
                  <p class='description'>                                                          
                    <span> RAHARINIAINA Mahefa Natiora Lalaina                                                           
                    </span>                                                        
                  </p>                                                  
                </div>                                            
              </div>                                      
            </div>                                
          </div>                          
        </div>                                 
        <div class='content-wrapper'>                          
          <div class='masmenu'>                                  
            <ul class="nav nav-pills " >                              
              <li class="active">                             
                <a href="#">Acceuil</a>                         
              </li>                              
              <li>                         
              <a href="#" data-toggle="modal" data-target="#about">Apropos</a>                         
              </li>                              
              <li>                         
              <a href="#" class="btn-group  dropdown-toggle" data-toggle="dropdown">Demos</a>    
              <ul class="dropdown-menu" role="menu">      
                <li>
                <a href="#"    data-toggle="modal" data-target="#calculatrice">Calculatrice</a>
                </li>      
                <li>
                <a href="#" data-toggle="modal" data-target="#Clock">Clock</a>
                </li>      
                <li>
                <a href="#" data-toggle="modal" data-target="#Cub">Cube</a>
                </li>      
                <li>
                <a href="#" data-toggle="modal" data-target="#bouton">Bouton</a>
                </li>    
              </ul>                      
              </li>                              
              <li>                         
              <a href="#">Contact</a>                         
              </li>                              
              <li>                         
              <a href="./webpage/Card/index.html">Images</a>                         
              </li>
               <li>                         
              <a href="#" data-toggle="modal" data-target="#Clock">Heure de votre connection : <span id="demo"></span></a>                         
              </li>                        
            </ul>                          
          </div>                          
          <div class='outer-wrapper'>                                
            <div class='main-wrapper'>                                      
              <div class='main section'>                                            
                <div class='widget Blog'>                                                  
                  <div class='blog-posts hfeed'>                                                                                                                                                                                                                                                                                  
                    <div class='post past'>                                                                    
                      <h2 class='post-title entry-title'>                                                                          
                        <a href="#"">BIENVENUE | WELCOME | TONGASOA </a></h2>                                                                                                                           
                      <div class='widget Blog col-sm-4'>                                                                                                                                                                                                                                                                                                                                        
                        <div class='post '>                                                                            
                          <h2 class='post-title'>                                                                                  
                            <a href='#'>Qui suis je ? </a></h2>                                                                            
                          <div class='post-header'>                                                                                  
                            <div class='post-header-line-1'>                                                          
                              <br><b> RAHARINIAINA</b>
                              <br> <i>Mahefa  Natiora Lalaina</i>
                              <br>                                                         
                              <br>Diplôme Technicien  Supérieur à l'Université privée <b>ESFPNA</b>.                                                          
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>                                                                                  
                            </div>                                                                            
                          </div>                                                                            
                          <div class='post-footer'>                                                                                                                 
                            <div class='btn btn-default'   data-toggle="modal" data-target="#about">Plus                                                                                   
                            </div>                                                                            
                          </div>                                                                      
                        </div>                                                                                           
                      </div>                      
                      <div class='widget Blog col-sm-4'>                                                                                                                                                                                                                                                                                                                                        
                        <div class='post '>                                                                            
                          <h2 class='post-title'>                                                                                  
                            <a href='#'>Ce que j’ai appris? </a></h2>                                                                            
                          <div class='post-header'>                                                                                  
                            <div class='post-header-line-1'>
                              <center>
                                <br>CSS
                                <br>HTML 
                                <br>JAVASCRIPT 
                                <br>PASCAL
                                <br> JAVA
                                <br> SQL
                                <br>
                              </center>                                                          
                              <br> 
                              <br>
                              <br>                                                                                 
                            </div>                                                                            
                          </div>                                                                            
                          <div class='post-footer'>                                                                                                                 
                            <div class='btn btn-default'  data-toggle="modal" data-target="#skill">  Plus                                                                                   
                            </div>                                                                            
                          </div>                                                                      
                        </div>                                                                                           
                      </div>                      
                      <div class='widget Blog col-sm-4'>                                                                                                                                                                                                                                                                                                                                        
                        <div class='post '>                                                                            
                          <h2 class='post-title'>                                                                                  
                            <a href='#'>Contact </a></h2>                                                                            
                          <div class='post-header'>                                                                                  
                            <div class='post-header-line-1'>
                              <br><b>Tel</b> : +261 32 50 991 46
                              <br>
                              <br> <b>Facebook</b> : Natiora Ainihara Raha
                              <br>
                              <br><b>Twitter</b> : @Natiora_raha
                              <br>
                              <br> <b>Mail</b>: natiora93@gmail.com                           
                              <br>                                            
                              <br>
                              <br>                                                                                  
                            </div>                                                                            
                          </div>                                                                            
                          <div class='post-footer'>                                                                                                                 
                            <div class='btn btn-default'>Plus                                                                                   
                            </div>                                                                            
                          </div>                                                                      
                        </div>                                                                                           
                      </div>                      
                      <div class='widget Blog'>                                                                                                                                                                                                                                                                                                                                        
                        <div class='post '>                                                                            
                          <h2 class='post-title'>                                                                                  
                            <a href='#'>...</a></h2>                                                                            
                          <div class='post-header'>                                                                                  
                            <div class='post-header-line-1'>                            
                              <form >                             
                                <a class="btn btn-block btn-info" href="#"   data-toggle="modal" data-target="#calculatrice">Calculatrice</a>                              
                                <a href="#" class="btn btn-block btn-info"   data-toggle="modal" data-target="#cub">Cube</a>                              
                                <a href="#" class="btn btn-block btn-info"   data-toggle="modal" data-target="#bouton">Bouton</a>                                                                                      
                              </form>                                    
                            </div>                                                                            
                          </div>                                                                          
                        </div>                                                                    
                      </div>                                                              
                    </div>                                                                                   
                  </div>                                                        
                </div>                                                                          
              </div>                                                                                                                                           
            </div>                              
          </div>


          <div class='sidebar-wrapper' ng-app="commentaire" ng-controller="myCtrl">                                
            <div class='sidebar section' id='sidebar'>                                      
              <div class='widget' >                                            
                <h2 class='title'>Apropos du site</h2>                                            
                <div class='widget-content'>                                                  
                  <span style="color: #006600;">Ce site est dans le but de Montrer à tous le monde qui somme nous                                                   
                  </span>                                           
                </div>                                      
              </div>                                      
              <div class='widget PopularPosts'><h2>Commentaire des autres</h2>                                            
                <div class='widget-content popular-posts'>                                                  
                  <ul>                                                        
                    <li>                                                        
                    <div class='item-content'>                                                              
                      <div class='item-thumbnail'>                                                                    
                        <a href='#'>                                                                          
                          <img alt='' border='0' height='72' src='assets/img/map.jpg' width='72'/></a>                                                              
                      </div>                                                              
                      <div class='item-title'>                                                                    
                        <a href='#'>Mimi</a>                                                              
                      </div>                                                              
                      <div class='item-snippet'>&#160; Merci pour les commentaire ...  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse                     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non                     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                                                               
                      </div>                                                        
                    </div>                                                                         
                    </li>                                                  
                  </ul>                                            
                </div>                                      
              </div>


              <div class='widget PopularPosts'><h2>Votre commentaire</h2>                                            
                <div class='widget-content popular-posts'>                                                  
                  <ul>                                                        
                    <li>                                                        
                    <div class='item-content'>                                                              
                       <div class='item-title'>                                                                    
                        <a href='#'>Vous</a>                                                              
                      </div>            
                      <div class='item-snippet' ng-repeat="x in comms">{{x}} <span ng-click="removeItem($index)" class="label label-danger" style="cursor: pointer;"> effacer </span>
                                                  
                      </div>                                                        
                    </div>                                                                         
                    </li>                                                  
                  </ul>                                            
                </div>                                      
              </div>


              <div class='widget PopularPosts'><h2>Commentaire </h2>                                            
                <div class='widget-content popular-posts'>                                                  
                  <ul>                                                        
                    <li>                                                        
                    <div class='item-content'>                                                              
                      <div class='item-thumbnail'>                                                            
                      </div>                                                             
                      <div class="form-group">                                                                  
                        <form>                                                      
                          <label for="email">Email address:                                                  
                          </label>                                                      
                          <input type="email" class="form-control" id="email">                                                                                             
                        <label for="pwd">Nom:                                              
                        </label>                                                  
                        <input type="text" class="form-control" id="pwd">                                                                                       
                      <div class="checkbox">                                                  
                        <label>                                                 
                          <input type="checkbox"> Se Souvenir de moi                                              
                        </label>                                            
                      </div>                                            
                      <label for="comment">Commentaire:                                          
                      </label>    
                  <textarea class="form-control" rows="5" id="comment"  ng-model="addMe" placeholder="Entrer ici votre commentaire"></textarea>                                              
                      </form>                                     
                    </div>                                       
                    <br>                                          
                    <button type="submit" class="btn btn-default" ng-click="addItem()" onclick="getElementById('comment').value='' ">Envoyer                                      
                    </button>                                                
                </div>                                                
                </li>                                              
                </ul>                                        
              </div>                                  
            </div>



          </div>                      
        </div>

        <div id='credit'>                            
          <div class='left'>Copyright &#169; 2017 Tous droit reserver                                           
          </div>                            
          <div class='right'>Site Creer par Ainihara RAHA                 
          </div>                      
        </div>                
      </div>  
    </div>  
    </div>
    <div id="about" class="modal fade" role="dialog">    
      <!-- Modal content-->
      <img src="assets/img/about.png" class="apropos">    
    </div>
    </div>  
    <!-- Modal -->
    <div id="cub" class="modal fade" role="dialog">  
      <div class="modal-dialog">    
        <!-- Modal content-->
        <div id="viewport">
          <div id="Cube">  
            <div id="Front">front
            </div>  
            <div id="Back">back
            </div>  
            <div id="Top">top
            </div>  
            <div id="Bottom">bottom
            </div>  
            <div id="Left">left
            </div>  
            <div id="Right">right
            </div>
          </div>
        </div>  
      </div>
    </div>
    <div id="bouton" class="modal fade" role="dialog">  
      <div class="modal-dialog">    
        <!-- Modal content-->    
        <a class="" href="#"  >
          <div class="particle div">
          </div></a>    
        <a class="" href="#" >  
          <div class="jelly div">
          </div></a>    
        <a class="" href="#" >
          <div class="blobbs div">
          </div></a>    
        <a class="" href="#"  >
          <div class="chase div">
          </div></a>
      </div>  
    </div>
    <div id="Clock" class="modal fade" role="dialog">  
      <div class="modal-dialog">      
        <canvas id="canvas" width="300" height="300" style="background-color:silver;border: 2px #333333 solid;border-radius: 200px;box-shadow: 0px 0px 10px #000;  ">
        </canvas>  
      </div>
    </div>
    <div id="calculatrice" class="modal fade" role="dialog">    
      <!-- Modal content-->        
      <div id="calculator">  
        <form name="cal">  
          <input class="entrer" type="text" name="entrer" maxlength="8" readonly="readonly" placeholder="0">
          <br>  
          <table>    
            <tr>       <td>
                <input class="button btn-default btn" type="button" value="7" onclick="cal.entrer.value+='7'"></td>       <td>
                <input class="button btn-default btn" type="button" value="8" onclick="cal.entrer.value+='8'"></td>       <td>
                <input class="button btn-default btn" type="button" value="9" onclick="cal.entrer.value+='9'"></td>       <td>
                <input class="button btn-danger btn" type="button" value="c" onclick="cal.entrer.value=''"></td>    
            </tr>    
            <tr>       <td>
                <input class="button btn-default btn" type="button" value="4" onclick="cal.entrer.value+='4'"></td>       <td>
                <input class="button btn-default btn" type="button" value="5" onclick="cal.entrer.value+='5'"></td>       <td>
                <input class="button btn-default btn" type="button" value="6" onclick="cal.entrer.value+='6'"></td>       <td>
                <input class="button btn-warning btn" type="button" value="+" onclick="cal.entrer.value+='+'"></td>    
            </tr>    
            <tr>       <td>
                <input class="button btn-default btn" type="button" value="1" onclick="cal.entrer.value+='1'"></td>       <td>
                <input class="button btn-default btn" type="button" value="2" onclick="cal.entrer.value+='2'"></td>       <td>
                <input class="button btn-default btn" type="button" value="3" onclick="cal.entrer.value+='3'"></td>       <td>
                <input class="button btn-info btn" type="button" value="-" onclick="cal.entrer.value+='-'"></td>    
            </tr>    
            <tr>       <td>
                <input class="button btn-default btn" type="button" value="*" onclick="cal.entrer.value+='*'"></td>       <td>
                <input class="button btn-default btn" type="button" value="0" onclick="cal.entrer.value+='0'"></td>       <td>
                <input class="button btn-default btn" type="button" value="/" onclick="cal.entrer.value+='/'"></td>       <td>
                <input class="button btn-success btn" type="button" value="=" onclick="cal.entrer.value=eval(cal.entrer.value)"></td>    
            </tr>  
          </table>  
        </form>
      </div>
    </div>

<script>
var myVar = setInterval(myTimer ,1000);
function myTimer() {
    var d = new Date();
    document.getElementById("demo").innerHTML = d.toLocaleTimeString();
}
</script>
<script src="assets/js/jquery.min.js"></script> 
<script src="assets/js/num.js"></script>                   
<script src="assets/js/bootstrap.min.js"></script>                                   
<script src="assets/js/script.js"></script> 
<script src="assets/js/js.js"></script>
<script src="assets/js/commentaire.js"></script>       
  </body>
</HTML>