.card{
  vertical-align: middle;
  width: 350px;
  box-shadow: 8px 10px 8px 3px rgba(15,35,176,0.5);
  
}
.cont{
  font-size:45px;
  font-family:algerian;
  text-shadow:8px 5px 4px;
}
.cont img{
  width: 260px;
  height: 240px;
  display: inline-block;
}

img{
  
}
    
viewport {
  perspective: 1000px;
}
  #Cube {
    margin-left: 50%;
    margin-top: 245px;
    position: fixed;
    -webkit-transform: rotateX(0deg);
    transform-style: preserve-3D;
    animation:rotating 3s linear infinite;
  }
@keyframes rotating {
  0% {transform: rotateX(0deg) rotateY(0deg);}
  100% {transform: rotateX(360deg) rotateY(360deg);}

}
#Cube div {
    height: 200px;
    width: 200px;
    position: absolute;
    border: 1px solid black;

}
#Front {
  background: chocolate;
  box-shadow: 0 0 100px chocolate;
  transform:translateZ(100px);
}
#Back {
  box-shadow: 0 0 100px red;
  background: red;
  transform:translateZ(-100px);
}
#Top {
  box-shadow: 0 0 100px blue;
  background: blue;
  transform:translateY(-100px) rotateX(90deg);
}
#Bottom {
  box-shadow: 0 0 100px green;
  background: green;
  transform:translateY(100px) rotateX(90deg);
}
#Left {
  box-shadow: 0 0 100px orange;
  background: orange;
  transform:translateX(100px) rotateY(90deg);
}
#Right {
  box-shadow: 0 0 100px yellow;
  background: yellow;
  transform:translateX(-100px) rotateY(90deg);
}
#calculator{
	margin-top: 20%;
	width:340px;
	height: 420px;
	background-color:black;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid lightgray;
	border-radius: 25px;
	padding: 10px 10px 10px 15px;
	border: none;
	text-decoration: none;
}

@font-face{
	font-family: 'digital-7';
	src:url('./digit.ttf');
}

.entrer {
	margin-top:8px!important;
	margin:2px;
	line-height:2;
	width: 300px;
	border-radius: 5px;
	background-color: #bccd95;
	color: black;
	font-family: Digital-7;
	font-size: 45px;
	direction:rtl;
	cursor:pointer;
	border: none;
}
.button{
	height: 70px;
	width: 72px;
	margin: 2px;
	font-size: 25px!important;
	border-radius: 15px!important;
}
.modal-header{
	text-align: center
}
#container {
	margin: 10%;
}
h1,h2 {
	text-align: center;
	color: white;
	font-family: poiret one;	
}
#essaye {
	color: red;
}
#resultat{
	color:orange;
}

input#reponse {
	font-size: 40px;
	font-family: digital-7;
	margin-left: 20%;
	vertical-align: middle;
	width: 300px;
	height: 50px;
	border-radius: 12px;
}

#button {
	margin-left: 30%;
	cursor: pointer;
	height: 40px;
	width: 150px;
	font-size: 20px;
	border-radius: 50px;
}



.msg0 { position:relative; width : 250px; top:5px; color:red; border:1px dashed red; -webkit-transition : all 0.5s ease-in; -moz-transition : all 0.2s ease-in; -o-transition : all 0.5s ease-in; box-shadow: 0 0 8px red; text-shadow:1px 1px 0px red; -webkit-transform: scale(1.4) rotate(-370deg); -moz-transform: scale(1.4) rotate(-370deg); -o-transform: scale(1.4) rotate(-370deg); transform: scale(1.4) rotate(-370deg); -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; left:42%; }.msg0:hover { box-shadow: 0 0 18px red; }.msg1{ position:relative; color:green; box-shadow:0 0 8px green; font-size:22px; font-family:Segoe UI,tahoma; border:1px dashed green; width : 100px; left:46%; }.msg2{ position:relative; color:green; box-shadow:0 0 8px green; font-size:22px; font-family:Segoe UI,tahoma; border:1px dashed green; width : 420px; left:35.4%; }.msg3{ position:relative; color:white; box-shadow:0 0 8px white; font-size:18px; font-family:Segoe UI,tahoma; border:1px dashed white; width : 320px; }.msg3{ position:relative; color:white; box-shadow:0 0 8px white; font-size:18px; font-family:Segoe UI,tahoma; border:1px dashed white; width : 320px; }